/* Import font  */
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans/eot/IRANSansWeb.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*for google chrome*/
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #dfe6e9;
  --secondary-color: rgb(148, 148, 148);
  --gray-color: #6c757d;
  --dark-color: rgb(41, 40, 48);
  --light-color: #f8f9fa;
  --turquoise-color: #1abc9c;
  --greensee-color: #16a085;
  --clouds-color: #ecf0f1;
}

html {
  font-size: 62.5%;
}

/* general style */

body {
  direction: rtl;
  font-family: IRANSans;
}

li {
  list-style: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
/* end of general style */

/* header style */
.header__topbar {
  padding: 2rem 0;
  height: 100px;
}

.header__topbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__img a img {
  width: 160px;
  padding: 2rem;
}

.header__items .item {
  display: inline-block;
  padding: 0 4rem;
}
.header__items .item:first-child {
  padding-right: 0;
}
.header__items .item a {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--dark-color);
}
.header__user a {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.header__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
  background: url(../img/banner.jpg) no-repeat center center;
  background-size: cover;
}
.header__banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.header__banner-heading {
  position: absolute;
  top: 20%;
  width: 100%;
  line-height: 1rem;
  text-align: center;
  font-size: 3rem;
  color: var(--turquoise-color);
}
.header__banner-heading2 {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: var(--greensee-color);
}
.header__banner-paragraph {
  position: absolute;
  top: 40%;
  width: 100%;
  line-height: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--clouds-color);
}
.header__banner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 15px 8px 8px;
  width: 100%;
  max-width: 550px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.header__banner-wrapper .input {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--primary-color);
  font-family: IRANSans;
}
.header__banner-wrapper .searchbtn {
  position: absolute;
  top: 50%;
  left: 16%;
  width: 10%;
  border-radius: 5px;
  cursor: pointer;
}
.header__banner-wrapper .searchbtn .fa-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--greensee-color);
}
/* end of header style */

/* main style */
.main {
  position: relative;
  display: block;
  padding: 160px 20px 144px 20px;
}
.main__blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  padding: 10px 40px;
}

.inner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image-box img {
  display: inline-block;
  transform: scale(1.01);
  width: 80%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.lower__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 33px 10px 20px 0px;
  margin-bottom: 40px;
}
.lower__content-post-date {
  position: absolute;
  right: 85px;
  bottom: 0;
  line-height: 2rem;
  font-size: 1.5rem;
  color: var(--gray-color);
}
.lower__content h3 a {
  display: inline-block;
  color: var(--greensee-color);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px;
}
.lower__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lower__content-text p {
  font-size: 1.5rem;
  width: 80%;
  line-height: 26px;
  margin: 12px 0px 12px;
}
/* end of main style */

/* footer */
.main-footer {
  background: var(--light-color);
}
.footer__top {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.footer__about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__about-col {
  width: 100%;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__info-col {
  flex: 1 0 32%;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
.footer__about-col h3,
.footer__info-col h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--greensee-color);
}
.footer__top p {
  width: 60%;
  margin: 12px auto;
  line-height: 26px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark-color);
}

.footer__info-col li a {
  font-size: 1.5rem;
  color: var(--gray-color);
}

.footer__end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.line {
  border-bottom: 1px solid var(--light-color);
  margin: 0px 180px;
}
.footer__end-me {
  font-size: 2rem;
  font-weight: bold;
}
.footer__end-me strong {
  color: var(--greensee-color);
}
.footer__end-me #fullName {
  color: var(--gray-color);
  font-size: 1.8rem;
}
.footer__end-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__end-icons .icon a i {
  padding-right: 30px;
  font-size: 2.5rem;
  text-align: center;
  color: var(--greensee-color);
}
